* {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fff;
  background: linear-gradient(45deg, rgb(31, 29, 43), rgb(78, 21, 133), rgb(105, 44, 110), rgb(82, 43, 119));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in infinite;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  height: 22px;
  width: 134px;
  flex: 1;
}

nav {
  flex: 2;
  text-align: center;
  margin-left: -30%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 18px;

}

nav ul li {
  margin: 0 20px;
  cursor: pointer;
  background: linear-gradient(45deg, rgb(108, 109, 129), rgb(220, 183, 255), rgb(152, 159, 255), rgb(196, 155, 235));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;
  transition: none;

}

nav ul li a {
  text-decoration: none;
  color: #333;

}

nav ul li:hover {
  border-bottom: 2.3px solid #fff;
  padding-bottom: 0;
}

.buttons {
  flex: 1;
  text-align: right;
}

.btn-create {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 5px 0 #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.btn-login {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: none;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  gap: 20;
  transform: translateY(-80px);
}

.text-content {
  flex: 1;
  font-size: 2.1rem;
  margin-left: 100px;


}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  padding: 35px 35px;
  padding-bottom: 70px;
  background: transparent;
  border: 2px solid;
  border-image: linear-gradient(to bottom, #FB37FF, #9B6FEE00, #7B7FEA00, #1BB2DE) 1;
  width: 350px;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2); 

}

p {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin-top: -30px;
  
}
.btn-explore {
  padding: 12px 35px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  margin: 10px;
  background: repeating-linear-gradient(rgb(155, 81, 224) ,rgb(74, 102, 206));;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.btn-create2 {
  padding: 12px 35px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: 10px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  border: 2px solid #fff;
  border-radius: 6px;
}
.contend-card {
  display: flex;
  flex-direction: row;
  margin-top: -60px;
  justify-content: center;
  align-items: center;

}
.card-box {
  padding: 20px 20px;
}
h6 {
   font-size: 16px;
   margin-top: -5px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 120px;
}
.icon-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  

}
.icon-content img {
  padding: 10px 50px;
  margin-left: 60px;
  
}
.icon img {
  width: 170px;
  border-radius: 20px;
  

}



