* {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fff;
  background-color: #1F1D2B;
  background-size: 400% 400%;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  height: 22px;
  width: 134px;
  flex: 1;
  margin-left: 100px;
}

nav {
  flex: 2;
  text-align: center;
  margin-left: -20%;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 18px;

}

nav ul li {
  margin: 0 20px;
  cursor: pointer;
  background: linear-gradient(45deg, rgb(108, 109, 129), rgb(255, 183, 183), rgb(152, 159, 255), rgb(196, 155, 235));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;
  transition: none;

}

nav ul li a {
  text-decoration: none;
  color: #333;

}

nav ul li:hover {
  border-bottom: 2.3px solid #fff;
  padding-bottom: 0;
}

.buttons {
  flex: 1;
  text-align: right;
  
}

.btn-create {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 2px 0 #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  
}

.btn-login {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: none;
  margin-right: 110px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  gap: 20;
  transform: translateY(-80px);
}

.text-content {
  flex: 1;
  font-size: 2.1rem;
  margin-left: 100px;

}
h1 {
  letter-spacing: none;
  line-height: normal;

}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  padding: 35px 35px;
  padding-bottom: 70px;
  background: transparent;
  border: 2px solid;
  border-image: linear-gradient(to bottom, #FB37FF, #9B6FEE00, #7B7FEA00, #1BB2DE) 1;
  width: 350px;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2); 

}

p {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin-top: -30px;
  
}
.btn-explore {
  padding: 12px 35px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  margin: 10px;
  background: repeating-linear-gradient(rgb(155, 81, 224) ,rgb(74, 102, 206));;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.btn-create2 {
  padding: 12px 35px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: 10px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  border: 2px solid #fff;
  border-radius: 6px;
}
.contend-card {
  display: flex;
  flex-direction: row;
  margin-top: -60px;
  justify-content: center;
  align-items: center;

}
.card-box {
  padding: 20px 20px;
}
h6 {
   font-size: 16px;
   margin-top: -5px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 1%;
   margin-top: 5px;
}
.icon-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  

}
.icon-content img {
  padding: 10px 50px;
  margin-left: 60px;
  background-color: #FB37FF;
  
}
.icon img {
  width: 170px;
  border-radius: 20px;
  background: transparent;

}
hr {
  margin-top: -20px;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
   margin-left: 15%;
  margin-top: -10px;
  text-align: center;
}
h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}



